// colors
$visier-black: #13182c;
$visier-red: #c94515;

$primary-one: #edf9fb;
$primary-two: #50A1A7;
$primary-three: #42858B;
$primary-four: #3F7F86;
$primary-five: #3B787E;

$secondary-one: #64748B;
$secondary-two: #323D4F;
$secondary-three: #20293A;
$secondary-four: #111729;

$font-color-one: #CBD5E1;
$font-color-two: #64748B;
$font-color-three: #1E293B;

$background-color-one: rgba(16, 24, 40, 0.001);
$background-color-two: #F8FAFC;
$background-color-three: #F6F9FB;
$background-color-four: #F6FFFB; //named background/primary ... so maybe primary?
$background-color-five: #F2FCFD;
$background-color-six: #171F2D;

// screen sizes
$tablet-width: 768px;
$desktop-width: 1280px;

// font weight
$fw-semi-bold: 600;
$fw-regular: 400;
