@import "../../styles/partials/variables";
@import "../../styles/partials/mixins";

.footer {
  width: 100%;
  padding: 4rem 8rem 2rem 8rem;
  background-color: $font-color-three;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  @include tablet {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.col {
  &-content {
    padding: 0;
    list-style: none;
    font-size: 0.9rem;
  }
  &-header {
    color: $font-color-one;
    font-weight: 500;
  }
  &-link {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $font-color-two;
    transition: 0.5s;
    &:hover {
      color: $font-color-one;
    }
  }
}

.copy-right {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  color: $font-color-two;
  @include tablet {
    flex-direction: row;
  }
}

.row {
  display: flex;
  gap: 2rem;
}
.icons {
  grid-column: span 3;
  justify-self: end;
}
